<h1 class= "text-center">Burgers!!</h1>


<div class ="container">
<div class ="row">
<div class = "col-sm" id="burgercol">
<h2 class =>Uneaten Burgers</h2>
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div>
    {{/unless}}
  {{/each}}
</ul>
</div>
<div class = "text-center" "col-sm">
  <img src="/assets/images/burger.png">
</div>
<div class = "col-sm" id="burgercol">
<h2 class= >Eaten Burgers:</h2>
<ul>
  {{#each burgers}}
    {{#if this.devoured}}
       <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
</div>
<div class="text-center">
<h2 class="text-center">Add a burger</h2>
<br>

    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Enter Burger Here">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
    </div>
